# package directories
node_modules
jspm_packages
package-lock.json

# Serverless directories
.serverless

# Webpack directories
.webpack

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Configuration files
resources.yml
config/resources-*.yml

#testing files
.nyc_output
coverage
